# Works with fedora
SUBSYSTEMS=="usb", ENV{.LOCAL_ifNum}="$attr{bInterfaceNumber}"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1ffb", ATTRS{idProduct}=="0089", \
    ENV{.LOCAL_ifNum}=="00", KERNEL=="ttyACM*", MODE:="0666", \
    SYMLINK+="ttyPololu"
